#pera{
    color: teal;
    font-size: 25px;
}

.parrafo {
    color: brown;
    font-size: 30px;
}

#Manzana{
    color: red;
    font-size: 25px;
}

.background{
    color: grey;
    font-size: 25px;
}